.cart-items {
     list-style: none;
     margin: 0;
     padding: 0;
     max-height: 20rem;
     overflow: auto;
   }
   
   .total {
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-weight: bold;
     font-size: 1.5rem;
     margin: 1rem 0;
   }
   
   .actions {
     text-align: right;
   }
   
   .actions button {
     font: inherit;
     cursor: pointer;
     background-color: transparent;
     border: 1px solid #8a2b06;
     padding: 0.5rem 2rem;
     border-radius: 25px;
     margin-left: 1rem;
   }
   
   .actions button:hover,
   .actions button:active {
     background-color: #5a1a01;
     border-color: #5a1a01;
     color: white;
   }
   
   .actions .button--alt {
     color: #8a2b06;
   }
   
   .actions .button {
     background-color: #8a2b06;
     color: white;
   }

   .check {
     width: 90%;
     padding: 15px;
     margin: 0 auto;
     color: green;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
   }

   .newOrder {
     width: 50%;
     padding: 15px 30px;
     margin-top: 30px;
     border: none;
     border-radius: 10px;
     cursor: pointer;
     background-color: rgb(2, 112, 112);
     color: white;
     text-align: center;
   }